LunarFlare\Code\Library
LunarFlare\Code\Temp
Temp 
Library
*.sln
LunarFlare/Code/Code-csharp.sln
*.sln
LunarFlare/Code/Temp/UnityLockfile
LunarFlare/Code/Temp/UnityLockfile
*.csproj
LunarFlare/Code/Temp/UnityLockfile
